*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: #468e9f;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.box h6{
    color: #3e8930;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.box{
    width: 90vw;
    height: auto;
    background-color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}
input[type=number]{
    width: 70vw;
    margin: 10px auto 20px auto;
    padding: 10px;
    
}
label{
    font-size: 20px;
    color: #1f1d1d;
}
input[type=submit]{
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
}
button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
}